.ant-table-tbody > tr:nth-child(even) {
    background-color: #FAFAFA;
}

.ant-table-thead .ant-table-cell {
    background-color: #FAFAFA;
}

.site-layout .site-layout-background {
    background: rgba(255, 255, 255, 0.2);
    height: 100%;
}